

ul {
  list-style: none;
  float: left;
  width: 180px;
  height: 200px;
  border-bottom: 10px solid black;
  margin-right: 20px;
  padding: 0 0 10px 0;
}

li {
  background-color: grey;
  border-radius: 25px;
  height: 55px;
  margin: 10px 30px;
  
}

ul:hover {
  border-color: blue;
}

li.disc1 {
  width: 60px;
  margin-left: 60px;
  margin-right: 60px;
}

li.disc2 {
  width: 120px;
  margin-left: 30px;
  margin-right: 30px;
}

li.disc3 {
  width: 180px;
  margin-left: 0;
  margin-right: 0;
}

